# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.git

# gradle
build
.gradle

# other
production
eclipse
run
classes
src/main/java/be/bluexin/rwbym/entity/EntityWinterUrsa.java
src/main/java/be/bluexin/rwbym/entity/EntityWinterBoarbatusk.java
src/main/java/be/bluexin/rwbym/entity/EntityWinterBeowolf.java
src/main/java/be/bluexin/rwbym/entity/EntityWinterBeowolf.java
src/main/java/be/bluexin/rwbym/entity/EntityWinterBeowolf.java
src/main/java/be/bluexin/rwbym/entity/EntityWinterBoarbatusk.java
src/main/java/be/bluexin/rwbym/entity/EntityWinterUrsa.java
