.ys_submenu {
  background: #fff;
  background: #fff linear-gradient(to bottom, #fff 0%, #fff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
  display: none;
  margin: 0;
  position: absolute;
  padding: 0;
  z-index: 99999;
}

.ys_submenu ul {
  line-height: 160%;
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.ys_submenu ul li {
  clear: both;
  line-height: 160%;
  margin: 0;
  padding: 0;
}

.ys_submenu ul li:hover {
  background: url(blue_slice_large.png) repeat-x;
  cursor: pointer;
}

.ys_submenu .ys_submenu_inner ul li a {
  color: #336699 !important;
  display: block;
  line-height: 160%;
  margin: 0;
  padding: 3px 10px;
  text-decoration: none;
  text-transform: none;
}

.ys_submenu ul li a:hover {
  color: #fff !important;
  margin: 0;
  padding: 3px 10px;
  text-decoration: none;
}

.ys_submenu ul li:first-child:hover {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ys_submenu ul li:last-child:hover {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ys_submenu_inner {
  color: #333;
  padding: 0;
  text-align: left;
}
