.responsive_embed video,
.responsive_embed iframe,
.responsive_embed img,
.responsive_embed object,
.responsive_embed embed {
    max-width: 100%;
}

.embed-video-container {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.embed-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

/* Clearfix for floated content */
.clear_fix:before,
.clear_fix:after {
  content: "";
  display: table;
}

.clear_fix:after {
  clear: both;
}

.hide-x-spill {
  overflow-x: hidden;
}

/* Social like/share strip */

.social-share-container {
  width: 100%;
}

.individual-social-share {
  vertical-align: bottom;
  display: inline-block;
  margin: 1px 0;
  max-width: 90px;
}

/* yoCaptach */
.yola-form-captcha-representation {
  max-width: 100%;
  height: 165px;
  background-image: url(captcha.png);
  background-repeat: no-repeat;
  background-size: contain;
}
