.noscroll {
  overflow-y: hidden;
}
.google-map {
  display: none;
  bottom: 70px;
  left: 0;
}
.google-map.open {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 199;
}
.map-toolbar {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.5em;
  z-index: 455;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  display: none;
  font-family: Arial, sans-serif;
  _: ; -webkit-box-sizing: border-box;
  _: ; -o-box-sizing: border-box;
  _: ; -ms-box-sizing: border-box;
  _: ; -moz-box-sizing: border-box;
  _: ; box-sizing: border-box;
}
.map-toolbar button {
  width: 30px;
  padding: 0;
}
.map-toolbar input {
  padding: 16px 5px;
  border: 0;
  outline: 0;
  float: left;
  border-right: 1px dashed #ccc;
  font-size: 16px;
  width: 65%;
}
.map-toolbar.open {
  display: block;
}
.transport-toggle {
  float: right;
  margin: 5px 15px 0 0;
}
.transport-toggle button {
  border: 0;
  outline: 0;
  color: #000;
  fill: #000;
  font-size: 25px;
  line-height: 45px;
  background: none;
  padding-left: 0;
  padding-right: 0;
}
.transport-toggle .selected {
  fill: #2196F3;
}
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 111;
  background: rgba(0, 0, 0, 0.6);
}
.backdrop.hide {
  display: none;
}
.backdrop.open {
  display: block;
}
.hours-view.hide {
  display: none;
}
.hours-view {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px;
  z-index: 199;
  background: #fff;
  font-size: 16px;
  font-weight: 200;
  color: #444;
  overflow-y: scroll;
  _: ; -webkit-box-sizing: border-box;
  _: ; -o-box-sizing: border-box;
  _: ; -ms-box-sizing: border-box;
  _: ; -moz-box-sizing: border-box;
  _: ; box-sizing: border-box;
}
.hours-view h2,
h3 {
  font-weight: 200;
}
.hours-view .now {
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
}
.hours-view .now.open {
  background: #E4EEE4;
}
.hours-view .now.closed {
  background: #EEE4E4;
}
.hours-view h2 {
  text-align: center;
  font-size: 28px;
}
.hours-view h3 {
  font-size: 20px;
  border-bottom: solid #eee 1px;
}
.hours-view .today {
  margin: 5px 0;
}
.hours-view table {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
.hours-view thead {
  color: #666;
}
.hours-view thead tr {
  background: #ddd;
}
.hours-view td {
  padding: 1%;
}
.hours-view tr:nth-child(odd) {
  background: #eee;
}
.action-button {
  display: block;
  background: #2196F3;
  border: 0;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
  margin-left: 0;
  margin-right: 2%;
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 333;
  _: ; -webkit-box-sizing: border-box;
  _: ; -o-box-sizing: border-box;
  _: ; -ms-box-sizing: border-box;
  _: ; -moz-box-sizing: border-box;
  _: ; box-sizing: border-box;
  _: ; -webkit-transition: transform 0.4s ease-in-out;
  _: ; -o-transition: transform 0.4s ease-in-out;
  _: ; -ms-transition: transform 0.4s ease-in-out;
  _: ; -moz-transition: transform 0.4s ease-in-out;
  _: ; transition: transform 0.4s ease-in-out;
  _: ; -webkit-transform: rotateZ(0deg);
  _: ; -o-transform: rotateZ(0deg);
  _: ; -ms-transform: rotateZ(0deg);
  _: ; -moz-transform: rotateZ(0deg);
  _: ; transform: rotateZ(0deg);
}
.action-button line {
  stroke: #fff;
}
.action-button.open {
  _: ; -webkit-transform: rotateZ(135deg);
  _: ; -o-transform: rotateZ(135deg);
  _: ; -ms-transform: rotateZ(135deg);
  _: ; -moz-transform: rotateZ(135deg);
  _: ; transform: rotateZ(135deg);
}
.mobile-features {
  font-size: 18px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 70px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 222;
  font-family: Arial, sans-serif;
  _: ; -webkit-transform: translate3d(0, 100%, 0);
  _: ; -o-transform: translate3d(0, 100%, 0);
  _: ; -ms-transform: translate3d(0, 100%, 0);
  _: ; -moz-transform: translate3d(0, 100%, 0);
  _: ; transform: translate3d(0, 100%, 0);
}
.mobile-features.hide {
  display: none;
}
.mobile-features a {
  color: #666;
  display: inline-block;
  padding: 0.2em;
  margin: 0.25em 0.75em;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.mobile-features a.hide {
  display: none;
}
.mobile-features a:hover {
  text-decoration: none;
  color: #666;
}
.mobile-features a:visited {
  color: #666;
}
.mobile-features a svg path {
  fill: #666;
}
.mobile-features a svg {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto 5px auto;
}
.mobile-features i {
  font-size: 1.5em;
  display: block;
}
.mobile-features.open {
  display: block;
}
.info-card {
  font-size: 16px;
  position: absolute;
  color: #444;
  left: 5%;
  right: 5%;
  padding: 1em;
  width: 90%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  _: ; -webkit-transition: top 0.2s ease-in-out;
  _: ; -o-transition: top 0.2s ease-in-out;
  _: ; -ms-transition: top 0.2s ease-in-out;
  _: ; -moz-transition: top 0.2s ease-in-out;
  _: ; transition: top 0.2s ease-in-out;
  _: ; -webkit-box-sizing: border-box;
  _: ; -o-box-sizing: border-box;
  _: ; -ms-box-sizing: border-box;
  _: ; -moz-box-sizing: border-box;
  _: ; box-sizing: border-box;
}
.info-card.open {
  display: block;
}
.info-card.hide {
  display: none;
}
.info-card .title {
  color: #888;
  margin-bottom: 10px;
  font-style: italic;
}
.info-card .close {
  border: 0;
  outline: 0;
  background: none;
  font-size: 26px;
  color: #888;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}
.info-card address {
  float: left;
  font-style: normal;
}
@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: none;
  }
}
@-o-keyframes fadeInUp {
  0% {
    -o-transform: translate3d(0, 100%, 0);
  }
  100% {
    -o-transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: none;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    -moz-transform: translate3d(0, 100%, 0);
  }
  100% {
    -moz-transform: none;
  }
}
.fadeinup {
  _: ; -webkit-animation-name: fadeInUp;
  _: ; -o-animation-name: fadeInUp;
  _: ; -ms-animation-name: fadeInUp;
  _: ; -moz-animation-name: fadeInUp;
  _: ; animation-name: fadeInUp;
}
@keyframes fadeOutDown {
  100% {
    transform: translate3d(0, 100%, 0);
  }
  0% {
    transform: none;
  }
}
@-o-keyframes fadeOutDown {
  0% {
    -o-transform: none;
  }
  100% {
    -o-transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    -webkit-transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
}
@-moz-keyframes fadeOutDown {
  0% {
    -moz-transform: none;
  }
  100% {
    -moz-transform: translate3d(0, 100%, 0);
  }
}
.fadeoutdown {
  _: ; -webkit-animation-name: fadeOutDown;
  _: ; -o-animation-name: fadeOutDown;
  _: ; -ms-animation-name: fadeOutDown;
  _: ; -moz-animation-name: fadeOutDown;
  _: ; animation-name: fadeOutDown;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadein {
  _: ; -webkit-animation-name: fadeIn;
  _: ; -o-animation-name: fadeIn;
  _: ; -ms-animation-name: fadeIn;
  _: ; -moz-animation-name: fadeIn;
  _: ; animation-name: fadeIn;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.fadeout {
  _: ; -webkit-animation-name: fadeOut;
  _: ; -o-animation-name: fadeOut;
  _: ; -ms-animation-name: fadeOut;
  _: ; -moz-animation-name: fadeOut;
  _: ; animation-name: fadeOut;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.7, 0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    -o-transform: scale3d(0.7, 0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    -moz-transform: scale3d(0.7, 0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}
.zoomIn {
  _: ; -webkit-animation-name: zoomIn;
  _: ; -o-animation-name: zoomIn;
  _: ; -ms-animation-name: zoomIn;
  _: ; -moz-animation-name: zoomIn;
  _: ; animation-name: zoomIn;
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(0.7, 0.7, 0.7);
  }
}
@-o-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -o-transform: scale3d(0.7, 0.7, 0.7);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
  }
}
@-moz-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: scale3d(0.7, 0.7, 0.7);
  }
}
.zoomOut {
  _: ; -webkit-animation-name: zoomOut;
  _: ; -o-animation-name: zoomOut;
  _: ; -ms-animation-name: zoomOut;
  _: ; -moz-animation-name: zoomOut;
  _: ; animation-name: zoomOut;
}
.animated {
  _: ; -webkit-animation-duration: 0.4s;
  _: ; -o-animation-duration: 0.4s;
  _: ; -ms-animation-duration: 0.4s;
  _: ; -moz-animation-duration: 0.4s;
  _: ; animation-duration: 0.4s;
  _: ; -webkit-animation-fill-mode: both;
  _: ; -o-animation-fill-mode: both;
  _: ; -ms-animation-fill-mode: both;
  _: ; -moz-animation-fill-mode: both;
  _: ; animation-fill-mode: both;
}
